<p style="color: green"><%= notice %></p>


 <section>
  
    <h1> Inventory <%= @inventor.id %> </h1>
    
    <%= link_to "New food", new_inventory_inventory_food_path(@inventor) %>

  
 </section>

<div>|
  <%= link_to "Back to inventories", inventories_path %>

 
</div>
