databases:
  - name: Number 1
    databaseName: number_1_c0v1
    user: number_1_c0v1_user

services:
  - type: web
    name: Recipe App
    env: ruby
    buildCommand: "./bin/render-build.sh"
    startCommand: "bundle exec puma -C config/puma.rb"
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: Number 1
          property: connectionString
      - key: RAILS_MASTER_KEY
        sync: false