<div>
<p>
The Recipe app keeps track of all your recipes,ingredients, and inventory. <br>
It allows you to save ingredients, keep track of what you have, create recipes, <br>
and generate a shopping list based on what you have and what you are missing <br>
from a recipe. Also, since sharing recipes is an important part of cooking the <br>
app allows you to make them public so anyone can access them.<br>
<p>****************************************************************************************</p>
</p>
<h1>Authors:</h1><br>
<br>
<strong>👤 **Andy**</strong><br>

- GitHub: <a href=https://github.com/TechnoAndy>[TechnoAndy]</a><br>
- Twitter: <a href=https://twitter.com/ADiegaardt>[@ADiegaardt]</a><br>
- LinkedIn: <a href=https://www.linkedin.com/in/andy-diegaardt/>[andy-diegaardt]</a><br>
<br>
<strong>👤 **Peter**</strong><br>
<br>
- GitHub: <a href=https://github.com/anyepeter>[anyepeter]</a><br>
- Twitter: <a href=https://twitter.com/apcode>[@apcode]</a><br>
- LinkedIn: <a href=https://www.linkedin.com/in/peter-chendi/>[peter-chendi]</a><br>
<br>
<strong>👤 **Serg**</strong><br>
<br>
- GitHub: <a href=https://github.com/SergSkol>[SergSkol]</a><br>
- Twitter: <a href=https://twitter.com/sps676>[@sps676]</a><br>
- LinkedIn: <a href=https://www.linkedin.com/in/sergskol/>[SergSkol]</a><br>
<br>
</div>