<tr class="foods-tr">
  <td><%= food.name %></td>
  <td><%= food.measurement_unit %></td>
  <td><%= food.price %></td>
  <% if can? :destroy, food %>
    <td> <%= button_to "Delete", food, method: :delete, class: "recipe-remove" %></td>
  <% end %>
</tr>


