<p style="color: green"><%= notice %></p>

<h1>Foods</h1>
<table class="foods-food-table">
  <thead class="foods-head-table">
  <tr>
    <th>Name</th>
    <th>Measurement</th>
    <th>Price</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
<tbody id="foods">
  <% @foods.each do |food| %>
    <%= render food %>
  <% end %>
</tbody>
</table>
<%= link_to "New food", new_food_path, class: 'add-inventory' %>
