* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.foods-food-table {
  width: 600px;
  text-align: left;
  border: 2px solid black;
  margin-bottom: 20px;
}

.foods-head-table {
  background-color: silver;
  border-collapse: collapse;
}

.foods-tr td,
th {
  height: 30px;
}

.foods-tr:nth-child(even) {
  background-color: #ddd;
  padding: 10px;
}
