* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff;
}

.hide {
  display: none;
}

.recipe-modal {
  border: 1px solid black;
  position: absolute;
  top: 30%;
  left: 30%;
  background-color: white;
  padding: 16px;
  box-shadow: 5px 10px gray;
  line-height: 42px;
}

.recipe-modal-selector {
  display: flex;
  justify-content: space-between;
}

.recipe-title {
  text-align: center;
}

.recipe-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 2rem;
}

.recipe-element {
  display: flex;
  gap: 0.3rem;
  border: 1px solid black;
  width: 30rem;
  padding: 8px;
}

.recipe-head {
  width: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recipe-remove {
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #fff;
  color: blue;
  text-decoration: underline;
}

.recipe-descr {
  width: 100%;
}

.recipe-actions {
  display: flex;
  width: 30rem;
  justify-content: space-between;
}

.recipe-line {
  width: 30rem;
  border-bottom: 1px solid black;
}

.recipe-body {
  display: flex;
  justify-content: space-between;
  gap: 0.3rem;
  width: 30rem;
  padding: 8px;
}

.recipe-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recipe-public {
  display: flex;
  align-items: center;
  gap: 8px;
}

.recipe-text {
  gap: 0.3rem;
  width: 30rem;
  padding: 8px;
}

.recipe-footer {
  text-align: center;
  padding: 42px;
}

.recipe-food-table {
  width: 600px;
  text-align: left;
  border: 2px solid black;
}

.recipe-head-table {
  background-color: silver;
  border-collapse: collapse;
}

.recipe-tr td,
th {
  height: 30px;
}

.recipe-tr:nth-child(even) {
  background-color: #ddd;
  padding: 10px;
}

.recipe-table-actions {
  display: flex;
  justify-content: space-between;
}

/* ********************************************** */

/* *******        Toggle switch           ******* */

/* ********************************************** */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.status-checkbox:checked + .slider {
  background-color: green;
}

.status-checkbox:focus + .slider {
  box-shadow: 0 0 1px green;
}

.status-checkbox:checked + .slider::before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}
